#root {
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  width: 100vw;
  height: 100vh;
}

.main-section {
  height: 100%;
  width: 100%;
  display: flex;
}

.main-content {
  width: 100%;
  padding: 4rem;
}

.content-header {
  font-weight: 500;
  color: #fff;
  display: flex;
}

.content-row {
  display: flex;
  margin: 2rem 0;
}


.header-option {
  width: 20%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.header-option:hover {
  opacity: 0.4;
}

.option {
  width: 20%;
}

.header  {
  height: 70px;
  background-color: #181d27;
}

.nav-panel {
  width: 15%;
  height: 100%;
  padding: 10px;
  background-color: #0f1116;
}
.nav-option {
  padding: 10px 0;
  color: #fff;
  cursor: pointer;
}

.nav-option.selected {
  background-color: #f4f4f4;
  color: #0f1116;
}